<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057508358166-60iv4ms5tcgq0lb5vorekl53v0vr4kfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057508358166-60iv4ms5tcgq0lb5vorekl53v0vr4kfa</string>
	<key>API_KEY</key>
	<string>AIzaSyAcUH_FGWky3kzkK6Mk_ch7Qw68elydWAg</string>
	<key>GCM_SENDER_ID</key>
	<string>1057508358166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskPulse</string>
	<key>PROJECT_ID</key>
	<string>goonline-test</string>
	<key>STORAGE_BUCKET</key>
	<string>goonline-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057508358166:ios:cc8db2242fad561e73dd37</string>
</dict>
</plist>